.paddingmatch {
    padding: 20px 170px;

    .matchtitle {
        display: flex;

        .matchtitle_left {
            font-size: 28px;
            font-weight: bold;
            color: #333333;
        }

        .matchtitle_right {
            margin-left: auto;
            font-size: 14px;
            font-weight: 400;
            color: #999999;
        }
    }
}

.paddingmatch2 {
    padding-top: 25px;
    display: flex;
    flex-wrap: wrap;

    .matchlist {
        width: 770px;
        height: 490px;
        background: #FFFFFF;
        border-radius: 6px 6px 6px 6px;

        img {
            width: 770px;
            height: 340px;
            background: #DDDDDD;
            border-radius: 6px 6px 6px 6px;
        }
    }

    .matchlist:nth-child(1) {
        margin-right: 40px;
    }
}

.match_title {
    width: 340px;
    height: 28px;
    font-size: 20px;
    font-weight: bold;
    color: #333333;
    text-align: left;
    padding: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.times {
    display: flex;
    padding: 20px;

    .end_time2 {
        margin-left: auto;
        font-size: 14px;
        font-weight: 400;
        color: #999999;
    }

    .end_time {
        font-size: 14px;
        font-weight: 400;
        color: #999999;
    }
}

.borderstyle {
    display: flex;
    justify-content: center;

    div {
        width: 730px;
        height: 0px;
        opacity: 1;
        border: 1px solid #dddddd;


    }
}

.matchoverzg {
    margin-top: 5px;
    text-align: left;
    position: relative;
    display: flex;

    .matchoverztime {
        position: absolute;
        top: 12px;
        left: 20px;
        font-size: 14px;
        font-weight: 400;
        color: #FFFFFF;
    }

}

.matchover {
    display: flex;
    margin-right: 20px;
    position: relative;
    height: 100%;

    .matchLook {
        display: flex;
        position: absolute;
        right: 0;
        top: 20px;

        .look {
            font-size: 14px;
            font-weight: 400;
            color: #BBBBBB;
            margin-right: 20px;
            display: flex;

        }
    }
}