.titleline1 {
    width: 100%;
    height: 200px;
    background: #FFFFFF;
    margin-top: 20px;
    display: flex;

    .countSstyle {
        padding: 43px 210px;

        .numbervalue {
            font-size: 60px;
            font-family: PingFang SC-Bold, PingFang SC;
            color: #333333;
            line-height: 84px;
            height: 84px;
        }

        .numbervalue2 {
            width: 70px;
            padding-top: 10px;
            margin-left: 20px;
        }
    }
}

.vertical {
    width: 0px;
    height: 100px;
    background: #FFFFFF;
    opacity: 1;
    border: 1px solid #DDDDDD;
    margin-top: 50px;
}

.listPadding {
    padding: 20px 385px;
}

.seatch_list {
    width: 800px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    position: relative;

}

/deep/.el-input__inner {
    border-style: none;
    // background-color: #DDDDDD;
    width: 90%;
}

.buttom_seatch {
    width: 60px;
    height: 30px;
    background: #FFDC00;
    border-radius: 20px 20px 20px 20px;
    margin-top: 5px;
    margin-right: 5px;

    span {
        font-size: 14px;
        font-family: PingFang SC-Regular, PingFang SC;

        color: #333333;
        line-height: 30px;
    }
}

.titleline3 {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 100px;
    position: relative;

    .titlevoto {
        width: 360px;
        height: 500px;
        background: #FFFFFF;
        border-radius: 6px 6px 6px 6px;
        margin-left: 30px;
        margin-top: 20px;

        .titleimg {
            width: 360px;
            height: 360px;
            background: #FFFFFF;
            border-radius: 6px 6px 6px 6px;
            position: relative;

            span {
                position: absolute;
                width: 40px;
                height: 40px;
                background: #000000;
                border-radius: 6px 0px 0px 0px;
                opacity: 0.6;
                font-size: 16px;
                font-family: PingFang SC-Bold, PingFang SC;
                font-weight: bold;
                color: #FFFFFF;
                line-height: 40px;
            }

            img {
                width: 360px;
                height: 360px;
            }
        }

    }
}

.titleTitle {
    margin-top: 10px;
    margin-left: 20px;
    text-align: left;

    .titleValues {
        width: 322px;
        height: 17px;
        overflow: hidden;

        text-overflow:ellipsis span {
            font-size: 14px;
            font-family: PingFang SC-Bold, PingFang SC;
            font-weight: bold;
            color: #333333;
            line-height: 20px;
        }
    }

    .hsadimg {
        display: flex;
        margin-top: 10px;

        .imghead {
            width: 42px;
            height: 42px;
        }

        .imgname {
            margin-left: 10px;
            margin-top: 10px;

            span {
                font-size: 14px;
                font-family: PingFang SC-Regular, PingFang SC;
                font-weight: 400;
                color: #999999;
            }
        }
    }

    .countmun {
        margin-top: 27px;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
            font-size: 16px;
            font-family: PingFang SC-Bold, PingFang SC;
            font-weight: bold;
            color: #0F0241;
        }
    }
}

.votonum {
    margin-left: 20px;
    margin-top: 10px;
    width: 280px;
    height: 40px;
    background: linear-gradient(270deg, #F8781D 0%, #FED339 100%);
    border-radius: 20px 20px 20px 20px;
    opacity: 1;
    text-align: center;
    cursor: pointer;

    span {
        font-size: 16px;
        font-family: PingFang SC-Medium, PingFang SC;
        font-weight: 500;
        color: #FFFFFF;
        line-height: 40px;
    }
}

.votonumser {
    margin-left: 20px;
    margin-top: 10px;
    width: 280px;
    height: 40px;
    background: #DDDDDD;
    border-radius: 20px 20px 20px 20px;
    opacity: 1;
    text-align: center;
    cursor: pointer;

    span {
        font-size: 16px;
        font-family: PingFang SC-Medium, PingFang SC;
        font-weight: 500;
        color: #FFFFFF;
        line-height: 40px;
    }
}

.myworks {
    display: flex;
    justify-content: center;

    .myworksbody {
        width: 800px;
        height: 620px;
        background: #FFFFFF;
        border-radius: 10px 10px 10px 10px;
    }
}

.myworkimg {
    padding-top: 30px;

    img {
        width: 600px;
        height: 420px;
        background: #FFFFFF;
        border-radius: 10px 10px 10px 10px;
    }
}

.workid {
    position: relative;
    width: 100%;

    span {
        position: absolute;
        width: 40px;
        height: 40px;
        background: #000000;
        border-radius: 6px 0px 0px 0px;
        opacity: 0.6;
        font-size: 16px;
        font-family: PingFang SC-Bold, PingFang SC;
        font-weight: bold;
        color: #FFFFFF;
        line-height: 40px;
        left: 0;
    }
}

.myworktitle {
    text-align: left;
    padding: 20px;
    width: 322px;
    height: 22px;
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.myhead {
    img {
        width: 42px;
        height: 42px;
        border-radius: 50%;
    }
}

.mynik {
    font-size: 14px;
    font-weight: 400;
    color: #999999;
    margin-top: 12px;
    margin-left: 12px;
}

.invitation {
    width: 160px;
    height: 40px;
    background: linear-gradient(270deg, #F8781D 0%, #FED339 100%);
    border-radius: 20px 20px 20px 20px;
    margin-left: auto;
    margin-top: 30px;
    margin-right: 20px;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 40px;
    cursor: pointer;
}

.bodywith {
    width: 33%;

    .voto_num {
        font-size: 20px;
        font-weight: bold;
        color: #13044B;
    }

    .bodywithbon {
        margin-top: 15px;
        font-size: 14px;
        font-weight: 400;
        color: #999999;
    }
}

.share_post {
    width: 400px;
    height: 200px;
    background: #FFFFFF;
    box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.1600);
    border-radius: 10px 10px 10px 10px;
    position: absolute;
    left: 500px;
    top: 80px;
    z-index: 1000000;
    /deep/.bds_mshare {
        width: 40px;
        height: 40px;
    }
}