.el-header {
    background-color: #1A0761;
    color: #333;
    line-height: 60px;
}

.el-aside {
    background-color: #d3dce6;
    color: #333;
    text-align: center;
}

.el-main {
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

.el-menu {
    display: flex;
    margin-left: 540px;
    // justify-content: center;
    background-color: #1A0761;
}

.el-menu-item.is-active:active {
    color: #FFDC00 !important;
    border-bottom-color: #FFDC00;
    background-color: #1A0761;
}

/deep/.el-menu .el-menu-item:hover {
    color: black !important;
    background: #FFDC00 !important;
}

/deep/.el-menu .el-menu-item.is-active {
    color: white !important;
}

/deep/.el-submenu__title {
    width: 95px;
    color: white !important;
}

/deep/.el-submenu__title:hover {
    color: black !important;

}

/deep/.el-menu--horizontal>.el-submenu.is-active .el-submenu__title {
    color: white !important;
}

/deep/.el-submenu__icon-arrow.el-icon-arrow-down {
    display: none;
}

/deep/.el-submenu__title:hover {
    background-color: #FFDC00 !important;
    color: black;
}

.syitem {
    width: 160px !important;
    text-align: center;

    .el-menu-item:hover {
        color: #FFDC00;
    }
}

.el-dropdown {
    color: white;
}

.zxc {
    color: red;
    width: 282px;
    margin-left: 294px;
    display: flex;

    .ss {
        width: 64px;
        height: 60px;
        cursor: pointer;
        img {
            margin-top: 20px;
        }
    }
    .ss:hover {
        background-color: #FFDC00;
    }

    .sc {
        width: 64px;
        height: 60px;
        cursor: pointer;
        img {
            margin-top: 20px;
        }
    }
    .sc:hover {
        background-color: #FFDC00;
    }

    .tz {
        width: 64px;
        height: 60px;
        cursor: pointer;
        img {
            margin-top: 20px;
        }
    }
    .tz:hover {
        background-color: #FFDC00;
    }

    .tx {
        margin-top: 2px;
    }

    .hy {
        width: 80px;
        height: 24px;

        span {
            background: linear-gradient(90deg, #FAE3B9 0%, #F7D391 100%);
            border-radius: 2px 2px 2px 2px;
            font-size: 12px;
            font-family: PingFang SC-Bold, PingFang SC;
            font-weight: bold;
            color: #934C1F;
            cursor: pointer;
        }
    }
}