@media screen and(min-width:1441px) {
    .syimg {
        width: 1580px;
        margin: 0 auto;
        img {
            width: 100%;
            height: auto;
        }
    }
    
    .area {
        display: flex;
        justify-content: center;
        padding-top: 20px;
    
        div:nth-child(1) {
            width: 160px;
            height: 40px;
            border-radius: 20px 20px 20px 20px;
            cursor: pointer;
            background-color: #FFDC00;
            margin-right: 20px;
    
            span {
                font-size: 16px;
                font-family: PingFang SC-Bold, PingFang SC;
                font-weight: bold;
                color: #333333;
                line-height: 40px;
            }
        }
    
        div:nth-child(2) {
            width: 160px;
            height: 40px;
            border-radius: 20px 20px 20px 20px;
            cursor: pointer;
            margin-right: 20px;
    
            span {
                font-size: 16px;
                font-family: PingFang SC-Bold, PingFang SC;
                font-weight: bold;
                color: #999999;
                line-height: 40px;
            }
        }
    }
    
    .sadx {
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }
    
    .screen {
        width: 1562px;
        background: #FFFFFF;
        display: flex;
        justify-content: left;
        padding: 5px 0px 25px 60px;
        cursor: pointer;
        flex-wrap: wrap;
        margin-left: -17px;

    
        .el-radio {
            width: 10%;
            background-color: #F5F5F5;
            font-size: 14px;
            font-weight: 400;
            color: #666666;
            margin-top: 20px;
            /deep/.el-radio__input {
                .el-radio__inner {
                    display: none;
                }
            }
        }
    }
    
    
    
    /deep/.el-radio.is-bordered.is-checked {
        background: linear-gradient(180deg, #0C032E 0%, #5C5673 100%);
        border: none;
    }
    
    /deep/.el-radio__input.is-checked+.el-radio__label {
        color: white;
    }
    
    .list_free {
        margin-top: 20px;
        min-height: 500px;
        .list_free_list {
            max-width: 1580px;
            margin: 0 auto;
        }
    }
    
    .masonry {
        max-width: 300px;
        min-width: 300px;
        width: 100%;
        background: #FFFFFF;
        border-radius: 6px 6px 6px 6px;
        margin-bottom: 20px;
        .coverimg{
            background-color: #000000;
            opacity: 1;
            position: relative;
            z-index: 10;
            cursor: pointer;
            
            img{
                max-width: 300px;
            }
        
            .img1 {
                position: absolute;
                top:calc(50% - 40px);
                left: calc(50% - 35px);
                z-index: 9;
            }
        } 
        .list_title {
            // height: 60px;
            display: flex;
            text-align: left;
    
            .list_title_title {
                text-align: left;
                width: 222px;
                padding: 7px 11px;
    
                .list_title_title_title {
                    width: 200px;
                    // height: 22px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    font-size: 16px;
                    color: #06121E;
                    font-family: PingFang SC-Bold, PingFang SC;
                    font-weight: bold;
                    color: #06121E;
                }
                .list_title_title_title_tag{
                    margin-bottom: 12px;
                    margin-top: 4px;
                    flex-wrap: wrap;
                    div{
                        margin: 5px 5px 5px 0px;
                        padding: 10px;
                        height: 20px;
                        background: #EEEEEE;
                        text-align: center;
                        border-radius: 10px 10px 10px 10px;
                        font-size: 12px;
                        line-height: 0px;
                        font-family: PingFang SC-Regular, PingFang SC;
                        font-weight: 400;
                        color: #CCCCCC;
                        margin-right: 3px;
                    }
                }
                .icon{
                    div{
    
    
                        img{
                            width: 16px;
                            height: 16px;
                        }
                    }
               
                }
            }
    
            .list_title_img {
                // margin-left: auto;
                padding-right: 9px;
                padding-top: 20px;
                padding-bottom: 20px;
                margin-left: 20px;
    
                img {
                    width: 46px;
                    height: 46px;
                    border-radius: 50%;
                }
            }
        }
    }
    .payimg {
        width: 300px;
    
        background: rgba(0, 0, 0, 1);
        overflow: hidden;
        .zhezhao{
                   opacity: 0.5;
            z-index: 1;
            filter: blur(25px);
        }
    
    }
    .paywork {
        .payworkline1 {
            display: flex;
            padding-left: 65px;
    
            .payworkline1img {
                width: 168px;
                height: 120px;
                background: #E8E8E8;
                border-radius: 6px 6px 6px 6px;
    
    
                img {
                    width: 168px;
                    height: 120px;
                    border-radius: 6px 6px 6px 6px;
                }
            }
    
            .payworkline1title {
                padding-left: 20px;
                padding-top: 24px;
    
                .payworkline1title1 {
                    text-align: left;
                    width: 282px;
                    height: 22px;
                    font-size: 16px;
                    font-family: PingFang SC-Bold, PingFang SC;
                    font-weight: bold;
                    color: #06121E;
                    overflow: hidden;
                    text-overflow: ellipsis
                }
    
                .payworkline1titlename {
                    padding-top: 20px;
                    text-align: left;
                    font-size: 14px;
                    font-family: PingFang SC-Regular, PingFang SC;
                    font-weight: 400;
                    color: #333333;
                }
    
            }
        }
    
        .payworkline2 {
            padding-top: 40px;
            display: flex;
            justify-content: center;
    
            .payworkline2tit {
                padding-left: 10px;
                font-size: 14px;
                font-family: PingFang SC-Regular, PingFang SC;
                font-weight: 400;
                color: #999999;
            }
        }
    
        .payworkline3 {
            padding-top: 20px;
            display: flex;
            justify-content: center;
    
            .payworkline3zf {
                font-size: 14px;
                font-family: PingFang SC-Regular, PingFang SC;
                font-weight: 400;
                color: #999999;
            }
    
            .payworkline3zfmo {
                font-size: 20px;
                font-family: PingFang SC-Bold, PingFang SC;
                font-weight: bold;
                color: #333333;
                margin-top: -3px;
            }
    
        }
    
        .payworkline4 {
            padding-top: 40px;
            text-align: left;
            position: relative;
    
            .payworkline4bor {
                width: 100%;
                height: 0px;
                opacity: 1;
                border: 1px solid #DDDDDD;
            }
    
            .payworkline4ye {
                height: 80px;
                width: 100%;
    
                .el-radio {
                    line-height: 80px;
                    margin-left: 40px;
                }
            }
    
            .payworkline4dsf {
                height: 80px;
                width: 100%;
    
                .el-radio {
                    line-height: 80px;
                    margin-left: 40px;
                }
            }
        }
        /deep/.el-radio__input.is-checked+.el-radio__label {
            font-size: 14px !important;
            font-weight: 400 !important;
            color: #333333 !important;
        
        }
        
        /* 选中后小圆点的颜色 */
        /deep/.el-radio__input.is-checked .el-radio__inner {
            background: #28d4c1 !important;
            border-color: #28d4c1 !important;
        
            
        }
        
        /deep/.el-dialog__body {
            padding: 30px 0px 30px 0px;
        }
        
        /deep/.el-radio__label {
            margin-left: 20px;
        }
        
        /deep/.el-button--default {
            width: 300px;
            height: 40px;
            border-radius: 20px 20px 20px 20px;
        }
    
    }
    
    /deep/ .el-dialog{
        height: auto !important;
    }
}


@media screen and (max-width:1440px)  {
    .syimg {
        width: 1330px;
        margin: 0 auto;
        img {
            width: 100%;
            height: auto;
        }
    }
    .area {
        display: flex;
        justify-content: center;
        padding-top: 20px;
    
        div:nth-child(1) {
            width: 160px;
            height: 40px;
            border-radius: 20px 20px 20px 20px;
            cursor: pointer;
            background-color: #FFDC00;
            margin-right: 20px;
    
            span {
                font-size: 16px;
                font-family: PingFang SC-Bold, PingFang SC;
                font-weight: bold;
                color: #333333;
                line-height: 40px;
            }
        }
    
        div:nth-child(2) {
            width: 160px;
            height: 40px;
            border-radius: 20px 20px 20px 20px;
            cursor: pointer;
            margin-right: 20px;
    
            span {
                font-size: 16px;
                font-family: PingFang SC-Bold, PingFang SC;
                font-weight: bold;
                color: #999999;
                line-height: 40px;
            }
        }
    }
    
    .sadx {
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }
    
    .screen {
        width: 1562px;
        background: #FFFFFF;
        display: flex;
        justify-content: left;
        padding: 5px 0px 25px 60px;
        cursor: pointer;
        flex-wrap: wrap;
        margin-left: -17px;

    
        .el-radio {
            width: 10%;
            background-color: #F5F5F5;
            font-size: 14px;
            font-weight: 400;
            color: #666666;
            margin-top: 20px;
            /deep/.el-radio__input {
                .el-radio__inner {
                    display: none;
                }
            }
        }
    }
    
    
    
    /deep/.el-radio.is-bordered.is-checked {
        background: linear-gradient(180deg, #0C032E 0%, #5C5673 100%);
        border: none;
    }
    
    /deep/.el-radio__input.is-checked+.el-radio__label {
        color: white;
    }
    
    .list_free {
        margin-top: 20px;
        min-height: 500px;
        .list_free_list {
            max-width: 1330px;
            margin: 0 auto;
        }
    }
    
    .masonry {
        max-width: 300px;
        min-width: 300px;
        width: 100%;
        background: #FFFFFF;
        border-radius: 6px 6px 6px 6px;
        margin-bottom: 20px;
        .coverimg{
            background-color: #000000;
            opacity: 1;
            position: relative;
            z-index: 10;
            cursor: pointer;
            
            img{
                max-width: 300px;
            }
        
            .img1 {
                position: absolute;
                top:calc(50% - 40px);
                left: calc(50% - 35px);
                z-index: 9;
            }
        } 
        .list_title {
            // height: 60px;
            display: flex;
            text-align: left;
    
            .list_title_title {
                text-align: left;
                width: 222px;
                padding: 7px 11px;
    
                .list_title_title_title {
                    width: 200px;
                    // height: 22px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    font-size: 16px;
                    color: #06121E;
                    font-family: PingFang SC-Bold, PingFang SC;
                    font-weight: bold;
                    color: #06121E;
                }
                .list_title_title_title_tag{
                    margin-bottom: 12px;
                    margin-top: 4px;
                    flex-wrap: wrap;
                    div{
                        margin: 5px 5px 5px 0px;
                        padding: 10px;
                        height: 20px;
                        background: #EEEEEE;
                        text-align: center;
                        border-radius: 10px 10px 10px 10px;
                        font-size: 12px;
                        line-height: 0px;
                        font-family: PingFang SC-Regular, PingFang SC;
                        font-weight: 400;
                        color: #CCCCCC;
                        margin-right: 3px;
                    }
                }
                .icon{
                    div{
    
    
                        img{
                            width: 16px;
                            height: 16px;
                        }
                    }
               
                }
            }
    
            .list_title_img {
                // margin-left: auto;
                padding-right: 9px;
                padding-top: 20px;
                padding-bottom: 20px;
                margin-left: 20px;
    
                img {
                    width: 46px;
                    height: 46px;
                    border-radius: 50%;
                }
            }
        }
    }
    .payimg {
        width: 300px;
    
        background: rgba(0, 0, 0, 1);
        overflow: hidden;
        .zhezhao{
                   opacity: 0.5;
            z-index: 1;
            filter: blur(25px);
        }
    
    }
    .paywork {
        .payworkline1 {
            display: flex;
            padding-left: 65px;
    
            .payworkline1img {
                width: 168px;
                height: 120px;
                background: #E8E8E8;
                border-radius: 6px 6px 6px 6px;
    
    
                img {
                    width: 168px;
                    height: 120px;
                    border-radius: 6px 6px 6px 6px;
                }
            }
    
            .payworkline1title {
                padding-left: 20px;
                padding-top: 24px;
    
                .payworkline1title1 {
                    text-align: left;
                    width: 282px;
                    height: 22px;
                    font-size: 16px;
                    font-family: PingFang SC-Bold, PingFang SC;
                    font-weight: bold;
                    color: #06121E;
                    overflow: hidden;
                    text-overflow: ellipsis
                }
    
                .payworkline1titlename {
                    padding-top: 20px;
                    text-align: left;
                    font-size: 14px;
                    font-family: PingFang SC-Regular, PingFang SC;
                    font-weight: 400;
                    color: #333333;
                }
    
            }
        }
    
        .payworkline2 {
            padding-top: 40px;
            display: flex;
            justify-content: center;
    
            .payworkline2tit {
                padding-left: 10px;
                font-size: 14px;
                font-family: PingFang SC-Regular, PingFang SC;
                font-weight: 400;
                color: #999999;
            }
        }
    
        .payworkline3 {
            padding-top: 20px;
            display: flex;
            justify-content: center;
    
            .payworkline3zf {
                font-size: 14px;
                font-family: PingFang SC-Regular, PingFang SC;
                font-weight: 400;
                color: #999999;
            }
    
            .payworkline3zfmo {
                font-size: 20px;
                font-family: PingFang SC-Bold, PingFang SC;
                font-weight: bold;
                color: #333333;
                margin-top: -3px;
            }
    
        }
    
        .payworkline4 {
            padding-top: 40px;
            text-align: left;
            position: relative;
    
            .payworkline4bor {
                width: 100%;
                height: 0px;
                opacity: 1;
                border: 1px solid #DDDDDD;
            }
    
            .payworkline4ye {
                height: 80px;
                width: 100%;
    
                .el-radio {
                    line-height: 80px;
                    margin-left: 40px;
                }
            }
    
            .payworkline4dsf {
                height: 80px;
                width: 100%;
    
                .el-radio {
                    line-height: 80px;
                    margin-left: 40px;
                }
            }
        }
        /deep/.el-radio__input.is-checked+.el-radio__label {
            font-size: 14px !important;
            font-weight: 400 !important;
            color: #333333 !important;
        
        }
        
        /* 选中后小圆点的颜色 */
        /deep/.el-radio__input.is-checked .el-radio__inner {
            background: #28d4c1 !important;
            border-color: #28d4c1 !important;
        
            
        }
        
        /deep/.el-dialog__body {
            padding: 30px 0px 30px 0px;
        }
        
        /deep/.el-radio__label {
            margin-left: 20px;
        }
        
        /deep/.el-button--default {
            width: 300px;
            height: 40px;
            border-radius: 20px 20px 20px 20px;
        }
    
    }
    
    /deep/ .el-dialog{
        height: auto !important;
    }
}
@media screen and (min-width:1000px) and(max-width:1439px) {
    .syimg {
        width: 1000px;
        margin: 0 auto;
        img {
            width: 100%;
            height: auto;
        }
    }
    
.screen {
    width: 1000px;
    background: #FFFFFF;
    display: flex;
    justify-content: left;
    padding: 5px 0px 25px 60px;
    cursor: pointer;
    flex-wrap: wrap;

    .el-radio {
        width: 10%;
        background-color: #F5F5F5;
        font-size: 14px;
        font-weight: 400;
        color: #666666;
        margin-top: 20px;
        /deep/.el-radio__input {
            .el-radio__inner {
                display: none;
            }
        }
    }
}
.area {
    display: flex;
    justify-content: center;
    padding-top: 20px;

    div:nth-child(1) {
        width: 160px;
        height: 40px;
        border-radius: 20px 20px 20px 20px;
        cursor: pointer;
        background-color: #FFDC00;
        margin-right: 20px;

        span {
            font-size: 16px;
            font-family: PingFang SC-Bold, PingFang SC;
            font-weight: bold;
            color: #333333;
            line-height: 40px;
        }
    }

    div:nth-child(2) {
        width: 160px;
        height: 40px;
        border-radius: 20px 20px 20px 20px;
        cursor: pointer;
        margin-right: 20px;

        span {
            font-size: 16px;
            font-family: PingFang SC-Bold, PingFang SC;
            font-weight: bold;
            color: #999999;
            line-height: 40px;
        }
    }
}

.sadx {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}


/deep/.el-radio.is-bordered.is-checked {
    background: linear-gradient(180deg, #0C032E 0%, #5C5673 100%);
    border: none;
}

/deep/.el-radio__input.is-checked+.el-radio__label {
    color: white;
}

.list_free {
    margin-top: 20px;
    min-height: 500px;
    .list_free_list {
        max-width: 1000px;
        margin: 0 auto;
    }
}

.masonry {
    max-width: 300px;
    min-width: 300px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 6px 6px 6px 6px;
    margin-bottom: 20px;
    .coverimg{
        background-color: #000000;
        opacity: 1;
        position: relative;
        z-index: 10;
        cursor: pointer;
        
        img{
            max-width: 300px;
        }
    
        .img1 {
            position: absolute;
            top:calc(50% - 40px);
            left: calc(50% - 35px);
            z-index: 9;
        }
    } 
    .list_title {
        // height: 60px;
        display: flex;
        text-align: left;

        .list_title_title {
            text-align: left;
            width: 222px;
            padding: 7px 11px;

            .list_title_title_title {
                width: 200px;
                // height: 22px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                font-size: 16px;
                color: #06121E;
                font-family: PingFang SC-Bold, PingFang SC;
                font-weight: bold;
                color: #06121E;
            }
            .list_title_title_title_tag{
                margin-bottom: 12px;
                margin-top: 4px;
                flex-wrap: wrap;
                div{
                    margin: 5px 5px 5px 0px;
                    padding: 10px;
                    height: 20px;
                    background: #EEEEEE;
                    text-align: center;
                    border-radius: 10px 10px 10px 10px;
                    font-size: 12px;
                    line-height: 0px;
                    font-family: PingFang SC-Regular, PingFang SC;
                    font-weight: 400;
                    color: #CCCCCC;
                    margin-right: 3px;
                }
            }
            .icon{
                div{


                    img{
                        width: 16px;
                        height: 16px;
                    }
                }
           
            }
        }

        .list_title_img {
            // margin-left: auto;
            padding-right: 9px;
            padding-top: 20px;
            padding-bottom: 20px;
            margin-left: 20px;

            img {
                width: 46px;
                height: 46px;
                border-radius: 50%;
            }
        }
    }
}
.payimg {
    width: 300px;

    background: rgba(0, 0, 0, 1);
    overflow: hidden;
    .zhezhao{
               opacity: 0.5;
        z-index: 1;
        filter: blur(25px);
    }

}
.paywork {
    .payworkline1 {
        display: flex;
        padding-left: 65px;

        .payworkline1img {
            width: 168px;
            height: 120px;
            background: #E8E8E8;
            border-radius: 6px 6px 6px 6px;


            img {
                width: 168px;
                height: 120px;
                border-radius: 6px 6px 6px 6px;
            }
        }

        .payworkline1title {
            padding-left: 20px;
            padding-top: 24px;

            .payworkline1title1 {
                text-align: left;
                width: 282px;
                height: 22px;
                font-size: 16px;
                font-family: PingFang SC-Bold, PingFang SC;
                font-weight: bold;
                color: #06121E;
                overflow: hidden;
                text-overflow: ellipsis
            }

            .payworkline1titlename {
                padding-top: 20px;
                text-align: left;
                font-size: 14px;
                font-family: PingFang SC-Regular, PingFang SC;
                font-weight: 400;
                color: #333333;
            }

        }
    }

    .payworkline2 {
        padding-top: 40px;
        display: flex;
        justify-content: center;

        .payworkline2tit {
            padding-left: 10px;
            font-size: 14px;
            font-family: PingFang SC-Regular, PingFang SC;
            font-weight: 400;
            color: #999999;
        }
    }

    .payworkline3 {
        padding-top: 20px;
        display: flex;
        justify-content: center;

        .payworkline3zf {
            font-size: 14px;
            font-family: PingFang SC-Regular, PingFang SC;
            font-weight: 400;
            color: #999999;
        }

        .payworkline3zfmo {
            font-size: 20px;
            font-family: PingFang SC-Bold, PingFang SC;
            font-weight: bold;
            color: #333333;
            margin-top: -3px;
        }

    }

    .payworkline4 {
        padding-top: 40px;
        text-align: left;
        position: relative;

        .payworkline4bor {
            width: 100%;
            height: 0px;
            opacity: 1;
            border: 1px solid #DDDDDD;
        }

        .payworkline4ye {
            height: 80px;
            width: 100%;

            .el-radio {
                line-height: 80px;
                margin-left: 40px;
            }
        }

        .payworkline4dsf {
            height: 80px;
            width: 100%;

            .el-radio {
                line-height: 80px;
                margin-left: 40px;
            }
        }
    }
    /deep/.el-radio__input.is-checked+.el-radio__label {
        font-size: 14px !important;
        font-weight: 400 !important;
        color: #333333 !important;
    
    }
    
    /* 选中后小圆点的颜色 */
    /deep/.el-radio__input.is-checked .el-radio__inner {
        background: #28d4c1 !important;
        border-color: #28d4c1 !important;
    
        
    }
    
    /deep/.el-dialog__body {
        padding: 30px 0px 30px 0px;
    }
    
    /deep/.el-radio__label {
        margin-left: 20px;
    }
    
    /deep/.el-button--default {
        width: 300px;
        height: 40px;
        border-radius: 20px 20px 20px 20px;
    }

}

/deep/ .el-dialog{
    height: auto !important;
}
}